


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.alignright {
    float: right;
    padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
    float: left;
    padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    color: #000;
    font-size: 12px;
    line-height: 1.4;
    font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* NAV BAR
/*******************************************/


* {
  font-style: normal;
}
#wrap {
  background: #000;
  margin: 0 auto;
  padding: 0;
}
#main {
  width: 100%;
  height: 60px;
  padding-top: 3px;
  padding-bottom: 50px;
  font: 20px;
  font-family: 'Syncopate', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
#main ul li {
  display: inline;
  padding-left: 16px;
  padding-right: 15px;
}

#main li a {
  padding: 5px 15px;
  color: #fff;
  text-decoration: none;
  line-height:20px
}

/******************************************
/* LAYOUT
/*******************************************/


html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
    min-height:100%;
    margin: 0;
    padding: 0;
    font: normal 300 16px/1.4 'helvetica neue', helvetica, arial, sans-serif;
}

.box {
  width: 1000px;
  margin: auto;
}

/******************************************
/* small carousel
/*******************************************/

.right{
     z-index: +5;
}

.right .phone>img {
    padding-top:80px;
    right: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.phone {
    position: relative;
}

.right{
    float:left;
    width:50%;
}

/*.showBack, .showNext {
    display: inline-block;
    text-align: center;
}*/

#small img{
  z-index: +5;
  position: absolute;
  -o-object-fit: contain;
  top: 50px;
  left: 50%;
  margin-left: -109px;
  overflow: hidden;
  padding-top: 119px;
}

/******************************************
/* big carousel
/*******************************************/

.container .carousel #big {
    text-align: center;
}

.container .carousel #big img {
    display: relative;
    margin: 1em auto;
}

.carousel img {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in;
    /*properties, time, easing*/
}
.carousel img.active {
    opacity: 1;
}

#big img{
  z-index: -999;
  min-height: 106%;
  min-width: 106%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}


/******************************************
/* other stuff
/*******************************************/


/*.container {
        border: solid #fff 3px;
}*/

.container button {
    background: #000;
    border: 1px solid #000;
    color: white;
    font-size: 16px;
    padding: 0.50em 1.5em;
    border-radius: 10px;
    display: inline;
    position:relative;
    margin: 0 auto;
}

.btns{
    text-align:center;
}


.container button:hover {
    background: lightsteelblue;
    border-color: lightslategray;
}
.container button:active {
    background: lightslategray;
}

.left{
    text-align:center;
    padding-top:110px;
    float:left;
    width:50%;
    color: white;
}

.text {
    padding-top:20px;
}

h1{
    font-size: 60px;
    font-family: 'Syncopate', sans-serif;
    line-height: 10px;
}

h3 {
  padding-bottom: 30px;
}

.mailchimp {
  padding-top: 40px;
  text-align: center;
}




/******************************************
/* EMAIL FORM
/*******************************************/

.email: focus {
  color: 255, 255, 255, 1);
  border: 2px solid rgba (255, 255, 255, 1);
  outline: none;
}

.email {
    width:270px;
    background: transparent;
     margin-top:10px;
     border: 2px solid rgba(255, 255, 255, 0.6);
     -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
          -o-border-radius: 5px;
         -ms-border-radius: 5px;
             border-radius: 5px;
     color: rgba(255, 255, 255, 0.7);
     text-shadow:1px 1px 0px rgba(0, 0, 0, 0.1);
     box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
     webkit-box-shadow:1px 1px 0px rgba(0, 0, 0, 0.1); ;
    -moz-webkit-box-shadow:1px 1px 0px rgba(0, 0, 0, 0.1); ;
    -ms-webkit-box-shadow:1px 1px 0px rgba(0, 0, 0, 0.1);;
    -o-webkit-box-shadow:1px 1px 0px rgba(0, 0, 0, 0.1); ;
     font-family: "Open Sans", Sans;
     font-style: normal;
     font-weight: ;
     padding: 8px 15px;
    -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.button {
    position: relative;
  width:120px;
  margin-top:15px;
  font-family: "Open Sans", Sans;
  font-weight:700;
  color:#fff;
  text-align:center;
  padding: 10px 0px;
  background: #da292b;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
      -ms-border-radius: 5px;
          border-radius: 5px;
/*  -webkit-box-shadow: 0px 3px 0px #9e0b0f;
     -moz-box-shadow: 0px 3px 0px #9e0b0f;
       -o-box-shadow: 0px 3px 0px #9e0b0f;
      -ms-box-shadow: 0px 3px 0px #9e0b0f;
          box-shadow: 0px 3px 0px #9e0b0f;*/
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.button:hover {
  background: #e94d4f;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.button:active {
  top: 4px;
  background: #d44547;
  cursor: pointer;
    -webkit-box-shadow: 0px 1px 0px #9e0b0f;
     -moz-box-shadow: 0px 1px 0px #9e0b0f;
       -o-box-shadow: 0px 1px 0px #9e0b0f;
      -ms-box-shadow: 0px 1px 0px #9e0b0f;
          box-shadow: 0px 1px 0px #9e0b0f;
}

/******************************************
/* RESPONSIVE
/*******************************************/



@media only screen and (max-width: 500px){

h1{
    font-size: 40px;
    font-family: 'Syncopate', sans-serif;
    line-height: 10px;
}

h3 {
  font-size: 16px;
  padding-bottom: 30px;
}

.email{
  position: block;
  width:350px;
}

.button {
    position: block;
    margin: 10px 30px 0px 30px;
}


.left{
    text-align:center;
    padding-top:110px;
    color: white;
}

.right {
  float:none;
}

#small img {
  z-index: +5;
  position: absolute;
  -o-object-fit: contain;
  top: 50px;
  left: 50%;
  margin-left: -109px;
  overflow: hidden;
  padding-top: 622px;
}

.container button {
    background: #000;
    border: 1px solid #000;
    color: white;
    font-size: 16px;
    padding: 1em 4em;
    border-radius: 10px;
    display: inline;
    position:relative;
    margin: 0 auto;
}

.btns{
    text-align:center;
}


.container button:hover {
    background: lightsteelblue;
    border-color: lightslategray;
}

.container button:active {
    background: lightslategray;
}

p {
  line-height: 5px;
}





}
